name: Rust Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    # We only need these to COMPILE the code, not to run Tor.
    - name: Install System Dependencies
      run: sudo apt-get update && sudo apt-get install -y libssl-dev pkg-config build-essential libasound2-dev

    - name: Build Project
      run: cargo build --release --verbose

    - name: Run Unit Tests
      run: cargo test --verbose
